<button class="btn btn-primary" data-toggle="modal" data-target="#newCarModal">Add a new car</button>

<div class="modal fade" id="newCarModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Add a New Car</h4>
			</div>
			<div class="modal-body">
				{{bootstrap-select default="Select Year" items=validYears selected=(action "yearSelected")}}
				{{bootstrap-select default="Select Make" items=validMakes selected=(action "makeSelected")}}
				{{bootstrap-select default="Select Model" items=validModels selected=(action "modelSelected")}}

				{{#if isLoading}}
					<img src="images/ajax-loader.gif">
				{{/if}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" disabled={{canSubmit}}>Save changes</button>
			</div>
		</div>
	</div>
</div>
