<form>
	<div class="form-group">
		<label for="carNameInput">Car Name</label>
		<input type="text" class="form-control" id="carNameInput" placeholder="Herbie">
	</div>
	<div class="form-group">
		<label for="carVinInput">Vin</label>
		<input type="text" class="form-control" id="carVinInput" placeholder="17 characters">
	</div>
</form>

<button type="button" class="btn btn-danger" {{action "deleteCar"}}>Delete this car</button>
