<div id="carSelectorContainer">
	<div class="row-fluid">
		{{create-car-form yearSelected=(action 'yearSelected') makeSelected=(action 'makeSelected') saveButtonClicked=(action 'carCreated')}}

		{{#each model as |car|}}
			{{car-selector car=car}}
		{{/each}}
	</div>
</div>

{{outlet}}
