<div class="col-md-4">

	{{create-car-form yearSelected=(action 'yearSelected') makeSelected=(action 'makeSelected') saveButtonClicked=(action 'carCreated')}}

	<div class="list-group">
		{{#each model as |car|}}
			{{#link-to "cars.car" car class="list-group-item"}}
				{{car-selector car=car}}
			{{/link-to}}
		{{/each}}
	</div>
</div>

<div class="col-md-8">
	{{outlet}}
</div>
