<ul class="nav nav-tabs">
	{{#nav-link-to 'cars.car.maintenance' model}}Maintenance History{{/nav-link-to}}
	{{#nav-link-to 'cars.car.edit' model}}Edit{{/nav-link-to}}
	{{!-- <li><a href="#">Add photo</a></li> --}}
	{{!-- <li><a href="#">Details</a></li> --}}
</ul>

<div class="car-content">
	{{outlet}}
</div>
