<ul class="nav nav-tabs">
	<li class="active"><a href="#">Maintenance History</a></li>
	<li><a href="#">Edit</a></li>
	<li><a href="#">Add photo</a></li>
	<li><a href="#">Details</a></li>
</ul>

{{model.id}}
{{model.year}}
{{model.make.name}}
{{model.model.name}}
